In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r'C:\Users\Pu\Documents\GitHub\GEO572-Project-E.St.Louis\pumping\Pumpage_Data_ESL.xlsx')
print(df)

      p_num  isws_facility_id                              owner  \
0    135008        16370000.0                   BLUFF VIEW FARMS
1    296811        11970015.0        GATEWAY NATIONAL GOLF LINKS
2    314829        11938810.0                WOOD RIVER REFINERY
3    314830        11938810.0                WOOD RIVER REFINERY
4    314847        11938020.0          STEIN STEEL MILL SERVICES
..      ...               ...                                ...
539  492851        11938560.0             PREMCOR REFINING GROUP
540  496673        11938810.0  PHILLIPS 66 [WOOD RIVER REFINERY]
541  496674        11938810.0  PHILLIPS 66 [WOOD RIVER REFINERY]
542  498073        11990750.0                          MARYVILLE
543  498328        16330000.0                CHRIST BROS ASPHALT

     fac_well_num  depth_total_last_known    lam_x    lam_y  1981  1982  1983  \
0               1                   100.0  2842999  2047571   NaN   NaN   NaN
1               1                    88.0  2816221  2054200   NaN   NaN   NaN
2               9                   112.0      NaN      NaN   NaN   NaN   NaN
3               8                   105.0      NaN      NaN   NaN   NaN   NaN
4               1                    90.0  2820652  2132962   NaN   NaN   NaN
..            ...                     ...      ...      ...   ...   ...   ...
539            25                     NaN      NaN      NaN   NaN   NaN   NaN
540            90                   111.0      NaN      NaN   NaN   NaN   NaN
541            91                   107.0      NaN      NaN   NaN   NaN   NaN
542             5                   101.0      NaN      NaN   NaN   NaN   NaN
543             1                    42.0      NaN      NaN   NaN   NaN   NaN

     ...        2010        2011         2012         2013         2014  \
0    ...         NaN         NaN          NaN          NaN          NaN
1    ...  17000000.0  16000000.0          NaN          NaN          NaN
2    ...         NaN         NaN  485890338.0  548564677.0  458603066.0
3    ...         NaN         NaN  545912086.0  602337600.0  809573974.0
4    ...         NaN   1940000.0    2948000.0    2948000.0    2108000.0
..   ...         ...         ...          ...          ...          ...
539  ...         NaN         NaN          NaN  464211787.0  444296463.0
540  ...         NaN         NaN          NaN          NaN          NaN
541  ...         NaN         NaN          NaN          NaN          NaN
542  ...         NaN         NaN          NaN          NaN          NaN
543  ...         NaN         NaN          NaN          NaN          NaN

            2015         2016         2017         2018        2019
0            0.0          0.0          NaN          NaN         NaN
1            NaN          NaN          NaN          NaN         NaN
2    442836144.0  441565340.0  427839757.0  655378329.0         NaN
3    707991447.0  719535877.0  697169879.0  697705815.0         NaN
4      2648000.0    3466000.0    3034000.0    2564000.0         NaN
..           ...          ...          ...          ...         ...
539          NaN   15951100.0          NaN          NaN  34825200.0
540          NaN          NaN          NaN   70886911.0         NaN
541          NaN          NaN          NaN   75612705.0         NaN
542          NaN          NaN          NaN  337805000.0         NaN
543          NaN          NaN          NaN      70000.0         NaN

[544 rows x 46 columns]